{% extends "base.html" %}

{% block content %}

    <h3 class="center-align">Editar Equipamento</h3>

    <div class="row">
        <form action="{{ url_for('equipamento.editar', id=equipamento.id) }}" method="post" class="col s12">
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="nome" name="nome" type="text" minlength="6" required value="{{ equipamento.nome }}">
                    <label for="nome">Nome do Equipamento</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="preco" name="preco" type="number" step="0.01" required value="{{ equipamento.precoAquisisao }}">
                    <label for="preco">Preço de Aquisição</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="numeroDeSerie" name="numeroDeSerie" type="text" required value="{{ equipamento.numeroDeSerie }}">
                    <label for="numeroDeSerie">Numero De Serie</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Data De Fabricação" name="dataDeFabricacao" id="dataDeFabricacao" class="datepicker" onfocus="openDatePicker()" required value="{{ equipamento.dataFabricacao.strftime('%d/%m/%Y') }}">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="fabricante" name="fabricante" type="text" required value="{{ equipamento.fabricante }}">
                    <label for="fabricante">Fabricante</label>
                </div>
            </div>

            <div class="row center-align">    
                <button class="btn waves-effect waves-light black" type="submit">Editar
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/equipamento/equipamento.js') }}"></script>
{% endblock %}