{% extends "base.html" %}

{% block content %}

    <h3 class="center-align">Equipamentos</h3>
    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('equipamento.registrar') }}">
            <i class="material-icons">add</i>
        </a>
    </div>

    {% if not equipamentos %}
        <div class="center-align">
            <div class="col s12 m6 offset-m3" style="padding-top: 30px;">
                <div class="card red darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">Cadastre um novo equipamento apertando no botão abaixo!</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row" style="padding-top: 10px;">
        {% for equipamento in equipamentos %}
            <div class="col s12 m6">
                <div class="card black darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{ equipamento.nome }}:</span>
                        <ul>
                            <li>Numero de serie: {{ equipamento.numero_de_serie }}</li>
                            <li>Preço de Aquisição: {{ equipamento.preco_aquisisao }}$</li>
                            <li>Data de Fabricação: {{ equipamento.data_fabricacao.strftime("%d/%m/%Y") }}</li>
                            <li>Fabricante: {{ equipamento.fabricante }}</li>
                            {% if equipamento.chamados %} 
                                <br>
                                <li>Chamados de manutenção:</li>
                                <ol>
                                    {% for chamado in equipamento.chamados %}
                                    <li><a class="modal-trigger" href="#modal{{ equipamento.id }}-{{chamado.id}}">{{ chamado.titulo }}</a></li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-action">
                    <a href="{{ url_for('equipamento.editar', id=equipamento.id) }}" >Editar</a>
                    <a href="{{ url_for('equipamento.excluir', id=equipamento.id) }}" class="red-text">Excluir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for equipamento in equipamentos %}
        {% for chamado in equipamento.chamados %}
            <div id="modal{{ equipamento.id }}-{{ chamado.id }}" class="modal">
            <div class="modal-content">
                <h4>Chamado: {{ chamado.titulo }}</h4>
                <p>Equipamento: {{ equipamento.nome }}</p>
                <p>Data de Abertura: {{ chamado.data_de_abertura.strftime('%d/%m/%Y') }}</p>
                <p>Aberto há: {{ chamado.dias_aberto }} dias</p>
                <div class="divider"></div>
                <p><strong>Decrição:</strong></p>
                <p class="truncate">
                    {% autoescape false %} 
                        {{ chamado.descricao | replace('\n', '<br>') }} 
                    {% endautoescape %}
                </p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('chamado.editar', id=chamado.id) }}" class="left red-text waves-effect waves-green btn-flat">Editar Chamado</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/equipamento/equipamento.js') }}"></script>
{% endblock %}