<!-- Este template serve como base para todos os outros, permitindo assim uma boa padronização -->

<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>{{ titulo }}</title>
    </head>

    <body>

      <!-- Navbar com botões de navegação -->
      <nav>
        <div class="nav-wrapper black">

          {% if titulo == 'Equipamento' %}
            <a href="{{ url_for('equipamento.index') }}" class="brand-logo truncate">{{ titulo }}</a>
          {% elif titulo == 'Manutenções' %}
            <a href="{{ url_for('chamado.index') }}" class="brand-logo truncate">{{ titulo }}</a>
          {% else %}
            <a href="" class="">{{ titulo }}</a>
          {% endif %}

          <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if titulo != 'Equipamento' %}
              <li><a href="{{ url_for('equipamento.index') }}">Equipamentos</a></li>
            {% endif %}
            {% if titulo != 'Manutenções' %}
              <li><a href="{{ url_for('chamado.index') }}">Chamados</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>

      <div class="container">

        <!-- Aqui entra o conteudo das outras paginas -->
        {% block content %}{% endblock %}

        <!-- Mostra as mensagens flash -->
        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li><h6><strong>{{ message }}</strong></h6></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>            

      </div>

      <!-- Sidenav para navegação no mobile -->
      <ul class="sidenav" id="mobile-menu">
        <li>
          <div class="user-view">
          </div>
        </li>
        {% if titulo != 'Equipamento' %}
        <li><a href="{{ url_for('equipamento.index') }}">Equipamentos</a></li>
        {% endif %}
        {% if titulo != 'Manutenções' %}
          <li><a href="{{ url_for('chamado.index') }}">Chamados</a></li>
        {% endif %}
      </ul>    

      <!-- Scrips js -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
      <!-- Aqui vai os scripts das outras paginas -->
      {% block scripts %}{% endblock %}
    </body>
  </html>